body {
    margin: 0;
    display: flex;
    font-size: 2rem;
    min-height: 100vh;
}
main {
    width: 700px;
    margin: 0 auto;
    /* flex: 1; */
}
aside {
    width: 25%;
    min-width: 250px;
    display: flex;
    flex-direction: column;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
div {
    margin-top: auto;
    height: 300px;
}
