ul.colored {
  background-color: skyblue;
  outline: 1px solid black;
}
ul.colored li {
  background-color: burlywood;
  outline: 1px solid black;
}
ul.colored li h1 {
  background-color: coral;
  outline: 1px solid black;
}
ul.colored li p {
  background-color: pink;
  outline: 1px solid black;
}
