header {
    height: 100px;
    margin: 0 auto;
    background-color: lightblue;
    /* color: white; */
}
header:hover {
    height: 100px;
    margin: 0 auto;
    background-color: maroon;
    font-size: large;
}
body1 {
    width: 1000px;
    margin: 0 auto;
    min-height: 10vh;
    display: flex;
}
div {
    display: flex;
    flex: 1;
}
main {
    display: flex;
    flex: 1;
    background-color: yellow;
}
main:hover {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    background-color: green;
    color: white;
    flex-direction: row;
}
li {
    list-style: none;
    flex-direction: column-reverse;
    /* flex-direction: column */

    justify-content: space-between;
}
nav {
    width: 150px;
    background-color: blue;
}
nav:hover {
    width: 150px;
    background-color: pink;
}
aside {
    width: 200px;
    background-color: green;
}

.rate {
    font-size: 50px;
    color: aqua;
}
nav:hover > .rate{
/* aside:hover > .sale_box > .percent{ */
    width: 200px;
    /* background-color: olive; */
    color: navy;
}
.sale_box {
    margin: auto;
    /* width: 150px; */
    /* height: 150px; */
    /* background: linear-gradient(to bottom, #99ccff, #0059b3); */
    background: black;
    color: white;
}
.sale {
    font-size: 50px;
    /* color: aqua; */
}
/* .sale_box:hover > .rate { */
.sale_box:hover {
    /* font-size: 50px; */
    /* .rate { */
        color: red;
    /* } */
}
.percent {
    font-size: 30px;
    /* color: aqua; */
}
footer {
    height: 150px;
    margin: 0 auto;
    background-color: lightgreen;
}
footer:hover {
    /* height: 50px; */
    margin: 0 auto;
    background-color: olive;
    color: crimson;
    font-size: large;
    font-weight: bold;
    font-family: "メイリオ";
    text-align: center;
}
@media screen and (max-width: 900px) {
    body,
    nav,
    aside {
        width: 100%;
    }
    div {
        flex-direction: column;
    }
    main {
        order: -1;
    }
    border-top-left-radius: 左上の値;
    border-top-right-radius: 右上の値;
    border-bottom-right-radius: 右下の値;
    border-bottom-left-radius: 左下の値;
}

/* ボタン作成の基本形 参考サイト https://jajaaan.co.jp/css/button/
https://dubdesign.net/download/html-css/button-design/
 .btn,
a.btn,
button.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}
*/

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 62.5%;
}

.btn,
a.btn,
button.btn {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.5;
    position: relative;
    display: inline-block;
    padding: 1rem 4rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    letter-spacing: 0.1em;
    color: #212529;
    border-radius: 0.5rem;
}

/* .btn--orange,
a.btn--orange {
  color: #fff;
  background-color: #eb6100;
}

.btn--orange:hover,
a.btn--orange:hover {
  color: #fff;
  background: #f56500;
}

a.btn--radius {
  border-radius: 100vh;
} */

a.btn--orange {
    color: #fff;
    background-color: #eb6100;
    border-bottom: 5px solid #b84c00;
}
a.btn--orange:hover {
    margin-top: 3px;
    color: #fff;
    background: #f56500;
    border-bottom: 2px solid #b84c00;
}
a.btn--shadow {
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

/*その他と主な共通部分は省略*/

a.btn-hmoon {
    overflow: hidden;

    padding: 1.5rem 6rem;

    color: #fff;
    border-radius: 0;
    background: #000;
}

a.btn-hmoon span {
    position: relative;
}

a.btn-hmoon:before {
    position: absolute;
    top: 0;
    left: 0;

    width: 100px;
    height: 100px;

    content: "";
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-transform: translateX(-80%) translateY(-25px);
    transform: translateX(-80%) translateY(-25px);

    border-radius: 50%;
    background: #eb6100;
}

a.btn-hmoon:hover:before {
    width: 400px;
    height: 400px;

    -webkit-transform: translateX(-1%) translateY(-175px);

    transform: translateX(-1%) translateY(-175px);
    background: #eb6100;
}
/*  */
a.btn-bside {
    overflow: hidden;

    padding: 1.5rem 6rem;

    color: #fff;
    border-radius: 0;
    background: #000;
}

a.btn-bside span {
    position: relative;
    z-index: 1;
}

a.btn-bside:before {
    position: absolute;
    top: 0;
    left: calc(-100% + 10px);

    width: 100%;
    height: 100%;

    content: "";
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);

    background: #094;
}

a.btn-bside:after {
    position: absolute;
    top: 0;
    right: calc(-100% + 10px);

    width: 100%;
    height: 100%;

    content: "";
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);

    background: #094;
}

a.btn-bside:hover:before {
    -webkit-transform: translateX(50%) translateY(0);
    transform: translateX(50%) translateY(0);
}

a.btn-bside:hover:after {
    -webkit-transform: translateX(-50%) translateY(0);
    transform: translateX(-50%) translateY(0);
}
/*  */
a.btn-marrow {
    border: 2px solid #000;
    border-radius: 0;
    background: #fff;

    -webkit-transform-style: preserve-3d;

    transform-style: preserve-3d;
}

a.btn-marrow:before {
    position: absolute;
    top: 0;
    left: 0;

    width: 15px;
    height: 100%;

    content: "";
    -webkit-transition: all 1s; /*.3s*/
    transition: all 1s; /*.3s*/
    -webkit-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);

    border-radius: 0 50% 50% 0;
    background: #000;
}

a.btn-marrow:hover:before {
    font-family: "Font Awesome 5 Free";
    font-weight: bold;
    line-height: 30px;

    width: 30px;
    height: 30px;

    content: "\f021";
    -webkit-transform: translateX(460%) translateY(0.5rem);
    transform: translateX(460%) translateY(0.5rem);

    color: #fff;
    border-radius: 50%;
}
