@media (max-width: 600px) {
    .page-title {
        font-size: 2.5rem;
    }
    .page-header {
        flex-direction: column;
        align-items: center;
    }

    /* HEADER */
    .main-nav {
        font-size: 1rem;
        margin-top: 10px;
    }
    .main-nav li {
        margin: 0 20px;
    }

    /* HOME */
    .home-content {
        margin-top: 20%;
    }

/* ↓ この部分追加 ↓ */
    /* NEWS */
    .news-contents {
        flex-direction: column;
    }
    article,
    aside {
        width: 100%;
    }
/* ↑ ここまで追加 ↑ */

}
