header {
    height: 150px;
}
body {
    margin: 0;
}
div {
    display: flex;
    flex: 1;
}
main {
    flex: 1;
}
nav {
    width: 150px;
}
aside {
    width: 250px;
}
footer {
    height: 200px;
}
@media screen and(max-width: 1900px) {
    body {
        width: 100%;
    }
}
