article {
    background-color: skyblue;
    /* display: inline-block; */
    /* display: 100hv; */
    width: 250px;
}
body {
    background-color: #f5f2e5;
    /* background-image: url(../sample/HTML-CSS-Webdesign-5/chapter3/c3-08-1/images/bg.png); */
    background-image: url(../sample/original/deepsea.png);
    background-size: cover;
    background-repeat: no-repeat;
    /* background-repeat: repeat-y; */
}
section {
    background-color: silver;
    display: inline-block;
}
/*このセクションがうまく働いてない。*/
section > p {
    color: chartreuse;
}

.container {
    display: inline-flex;
}

.flex-container {
    flex-direction: column;
}

.list1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /* justify-content: space-between; */
    align-items: center;
    background-color: blueviolet;
    /* height: auto; */
    width: max-content;
    background-position: center;
    margin: auto;
}
.list1 h1 {
    text-align: center;
    color: white;
}
.list2 {
    background-color: black;
    color: orange;
    width: max-content;
}
.list2 h2 {
    color: darkgreen;
}
p.bbb {
    color: chartreuse;
}
a.btn-marrow {
    border: 2px solid #000;
    border-radius: 0;
    background: #fff;

    -webkit-transform-style: preserve-3d;

    transform-style: preserve-3d;
}

a.btn-marrow:before {
    position: absolute;
    top: 0;
    left: 0;

    width: 15px;
    height: 100%;

    content: "";
    -webkit-transition: all 1s; /*.3s*/
    transition: all 1s; /*.3s*/
    -webkit-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);

    border-radius: 0 50% 50% 0;
    background: #000;
}

a.btn-marrow:hover:before {
    font-family: "Font Awesome 5 Free";
    font-weight: bold;
    line-height: 30px;

    width: 30px;
    height: 30px;

    content: "\f061";
    -webkit-transform: translateX(460%) translateY(0.5rem);
    transform: translateX(460%) translateY(0.5rem);

    color: #fff;
    border-radius: 50%;
}
