article {
    background-color: skyblue;
    display: inline-block;
}
body {
    background-color: #f5f2e5;
    /* background-color: rgb(156, 164, 180);彩度か透明度を設定して背景画像が見えるようにするといいかも*/
    background-image: url(../sample/HTML-CSS-Webdesign-5/chapter3/c3-08-1/images/bg.png);
}
section {
    background-color: silver;
    display: inline-block;
}
/*このセクションがうまく働いてない。*/
section > p {
    color: chartreuse;
}

.container {
    display: inline-flex;
}

.flex-container {
    flex-direction: column;
}

.list1 {
    display: flex;
    flex-direction: row;
    /* justify-content: flex-start; */
    justify-content: space-between;
    align-items: center;
    background-color: blueviolet;
    height: 20vh;
}
.list1 h1 {
    text-align: center;
    color: white;
}
.list2 {
    background-color: black;
    color: orange;
}
.list2 h2 {
    color: darkgreen;
}
p.bbb {
    color: chartreuse;
}
