body {
  margin: 0;
}
.container {
  width: 800px;
  margin: 0 auto;
}
header {
  height: 80px;
}
main {
  height: 300px;
  display: flex;
}
.left {
  flex: 2;
}
.left ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.right {
  flex: 1;
}
footer {
  height: 120px;
}
